<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.my.newproject3">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:label="NEVER DROWN MANM"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".Screen1Activity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PropostActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PosterActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".MsgsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".FoundationsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".StipsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SwimlActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SwimmerActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".OnlookersActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".LearnActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".RescueActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".TipsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".DonationActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".PreventiinsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SignsActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".TragediesActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".SplashActivity"
			android:configChanges="orientation|screenSize"
			android:theme="@style/AppTheme.FullScreen"
			android:windowSoftInputMode="stateHidden"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
